/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  /* div.container{
      margin:0px 40px;
  } */

  .normal-form{
    margin: 10px;
}

.controles-container{
    width:100%;
    padding:5%;
}

.controles-container > *{
    width:100%;

}

.add-bottom-padding{
    padding-bottom:10px;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .button-row button{
      margin-left:5px;
  }






  body{
    background:#f2f2f2;
}
.box{
    border-top:solid 6px #f5ba1a;
    background:#fff;
    padding:30px;

}

  
  