<form [formGroup]="service.form" class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
          <div class="controles-container">
            <input type="hidden" formControlName="$key">
            <mat-form-field>
                <input formControlName="fullName" matInput placeholder="Full Name*">
                <mat-error>This field is mandatory</mat-error>
            </mat-form-field> 
            <mat-form-field>
               <input formControlName="email" matInput placeholder="email">
               <mat-error>Invalid email address</mat-error>

            </mat-form-field> 
             <mat-form-field>
                 <input formControlName="mobile" matInput placeholder="mobile*">
                 <mat-error *ngIf="service.form.controls['mobile'].errors?.required">This field is mandatory</mat-error>
                 <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">Minimum 8 charactors needed. </mat-error>


              </mat-form-field> 
              <mat-form-field>
                 <input formControlName="city" matInput placeholder="city">
              </mat-form-field>            
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <div class="add-bottom-padding controles-container">
                  <mat-radio-group formControlName="gender">
                    <mat-radio-button value="1">male</mat-radio-button>
                    <mat-radio-button value="2">female</mat-radio-button>
                    <mat-radio-button value="2">other</mat-radio-button>
                  </mat-radio-group>
                  <mat-form-field>
                      <mat-select formControlName="department" placeholder="Department">
                        <mat-option>None</mat-option>
                          <ng-container *ngFor="let department of departments">
                              <mat-option value="{{department.id}}">{{department.value}}</mat-option>   
                          </ng-container>
                        </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                      <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div class="add-bottom-padding">
                      <mat-checkbox formControlName="isParmanent">Parmanent Student</mat-checkbox>
                  </div>
                  <div class="button-row">
                      <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                      <button mat-raised-button color="warn" (click)="onClear()">Clear</button>

                  </div>
                </div>
            </div>
        </mat-grid-tile>
  
      </mat-grid-list>
      
</form>